name: Base
on:
  push:
    paths:
      - 'base/**'
      - '.github/workflows/base.yaml'

jobs:
  build:
    name: Build And Publish
    runs-on: ubuntu-latest
    steps:
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: x86_64-unknown-linux-musl
        override: true
    - name: Checkout code into the Go module directory
      uses: actions/checkout@v1

    - name: Build binaries
      run: |
        make base archive=${{ github.workspace }}/build/base

    - name: Set name of the development build
      id: setname
      run: |
        echo "::set-output name=build::base-v$(date +%y%m%d.%-H%M%S.0).flist"

    - name: Publish flist
      if: success()
      uses: threefoldtech/publish-flist@master
      with:
        token: ${{ secrets.HUB_JWT }}
        action: publish
        user: tf-autobuilder
        root: build/base
        name: ${{ steps.setname.outputs.build }}

    - name: Crosslink flist
      if: success() && github.ref == 'refs/heads/master'
      uses: threefoldtech/publish-flist@master
      with:
        token: ${{ secrets.HUB_JWT }}
        action: crosslink
        user: tf-official-apps
        name: base:latest.flist
        target: tf-autobuilder/${{ steps.setname.outputs.build }}
